.que.puzzle .answer {
    padding: 0.3em;
    width: auto;
    display: inline;
}

.que.puzzle .answer .puzzle{
    border: 1px solid #999;
}

.que.puzzle .answer .slot{
    float: left;
}

.que.puzzle .answer input {
    width: 80%;
}
